nomad.lab.marioverde.com.br {
    reverse_proxy "${endpoint}:4646"
    tls {
	    dns cloudflare "${cloudflare_api_token}"
    }
}

adguard.lab.marioverde.com.br {
    reverse_proxy "${endpoint}:8080"
    encode gzip zstd
    tls {
	    dns cloudflare "${cloudflare_api_token}"
    }
}

vault.lab.marioverde.com.br {
    reverse_proxy "${endpoint}:8200"
    tls {
	    dns cloudflare "${cloudflare_api_token}"
    }
}