# openssl rand -base64 32
LLDAP_JWT_SECRET=
LLDAP_LDAP_USER_PASS=
# Format: postgresql://<user>:<password>@<host>/<dbname>
LLDAP_DATABASE_URL=postgresql://lldap:<password>@<lxc-postgres-ip>/lldap

# openssl rand -base64 60
AUTHENTIK_SECRET_KEY=
AUTHENTIK_POSTGRESQL__HOST=<lxc-postgres-ip>
AUTHENTIK_POSTGRESQL__PORT=5432
AUTHENTIK_POSTGRESQL__USER=authentik
AUTHENTIK_POSTGRESQL__PASSWORD=
AUTHENTIK_POSTGRESQL__NAME=authentik
