# openssl rand -base64 60
AUTHENTIK_SECRET_KEY=
AUTHENTIK_POSTGRESQL__HOST=<lxc-postgres-ip>
AUTHENTIK_POSTGRESQL__PORT=5432
AUTHENTIK_POSTGRESQL__USER=authentik
AUTHENTIK_POSTGRESQL__PASSWORD=
AUTHENTIK_POSTGRESQL__NAME=authentik
