# TeamSpeak 6 Server
# No secrets required for base deployment — license acceptance is non-sensitive
# and is set directly in compose.yaml. This file is provided for convention/
# future overrides (e.g. licensekey.dat contents, if TeamSpeak later requires one).
