# Foundry VTT account credentials (used to download the license/distribution on first start)
FOUNDRY_USERNAME=
FOUNDRY_PASSWORD=

# Admin panel password applied at container startup
FOUNDRY_ADMIN_KEY=
